<form class="d-flex search-form" action="/books/search-query" method="post">
                <input class="form-control me-2" type="title" placeholder="Title" aria-label="Search" name="search">
                <input class="form-control me-2" type="authors" placeholder="Author" aria-label="Search" name="search">
                <input class="form-control me-2" type="category" placeholder="Category" aria-label="Search" name="search">
                <button class="btn btn-outline-success" type="submit">&#128269</button>
            </form>