<form class="d-flex search-form" action="/books/adv-search-query" method="post">
                <input class="form-control me-2" type="text" placeholder="Title" aria-label="Search" name="title">
                <input class="form-control me-2" type="text" placeholder="Author" aria-label="Search" name="authors">
                <input class="form-control me-2" type="text" placeholder="Category" aria-label="Search" name="category">
                <button class="btn btn-outline-success" type="submit">&#128269</button>
            </form>