<div class="box">
    <div class="boxDiv">
        <h2>Advanced Search</h2>
        <form action="/books/adv-search-query" method="post" class="boxForm">

            <input class="form-control" type="text" placeholder="Title" aria-label="Search" name="title">

            <input class="form-control" type="text" placeholder="Author" aria-label="Search" name="authors">

            <input class="form-control" type="text" placeholder="Category" aria-label="Search" name="category">

            <button class="btn" type="submit" class="btn">SEARCH &#128269</button>
        </form>
    </div>
</div>