<div class="box">
<div class="boxDiv">
<h1>Edit profile</h1>

<form action="/profile/edit/{{edits}}" method="post" class="boxForm">

<input class="form-control" type="text" name="{{edits}}" placeholder="new {{edits}}">

<button type="submit" class="btn">Submit Changes</button>
</form>
</div>
</div>