<h1>Edit password</h1>

<form action="/profile/edit/password" method="post">

<input type="password" name="password" placeholder="new password">

<button type="submit">Submit Changes</button>
</form>

{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}