
<div class="homeBody">
    <div class="homeBox">
        <div class="homeDiv">
            <h1>
            ¡¡Bienvenido a Project Librarian, tu Gestor de Biblioteca Personal!!
            </h1>
            Desde la barra de búsqueda del panel de navegación puedes realizar busquedas generales tanto por titulo como
            por
            autor, ademas, si registras un usuario podras guardar los libros en 3 categorias diferentes:
            <ul>
                <li>
                    Reading Now: Para guardar los libros que estas leyendo en este momento
                </li>
                <li>
                    Wishlist: Para guardar los libros que tienes pendientes y no olvidarlos
                </li>
                <li>
                    Books Finished: Para guardar los libros que ya has leido (¿a quien no le gusta fardar un poco &#128540?)
                </li>
            </ul>
        </div>
    </div>
</div>