<div class="box">
<div class="boxDiv">
<h2>Log In to your Account</h2>

<form action="/login" method="post" class="boxForm">

<label for="username">Username</label>
<input type="text" name="username">

<label for="password">Password</label>
<input type="password" name="password">

<button type="submit" class="btn">Accept</button>

</form>

{{#if errorMessage}}
<p>{{this.errorMessage}}</p>
{{/if}}
</div>
</div>