<div class="login">
<h2>Soy el login</h2>

<form action="/login" method="post" class="loginForm">

<label for="username">Username</label>
<input type="text" name="username">

<label for="password">Password</label>
<input type="password" name="password">

<button type="submit">Accept</button>

</form>

{{#if errorMessage}}
<p>{{this.errorMessage}}</p>
{{/if}}

</div>