<div>
    <h1 class="title">Search</h1>
</div>

<div class="contenedor">

        {{#each books}}
            <div class="book">
                <a href="/books/book-details/{{id}}">
                <div class="book-link">

                    <img src={{volumeInfo.imageLinks.thumbnail}} alt="{{volumeInfo.title}} img">
                    <p>{{volumeInfo.title}}</p>

                </div>
                </a>
            </div>
        {{/each}} 

</div>

<div class="pageSelector">
<a href="/books/previousPage" class="btn btn-success">Previous Page</a>
<a href="/books/firstPage" class="btn btn-success">Go to First Page</a>
<a href="/books/nextPage" class="btn btn-success">Next Page</a>
</div>