<div class="box">
<div class="boxDiv">
<h2>Sign up and get your new account</h2>


<form action="/signup" method="post" class="boxForm">

<label for="username">Username</label>
<input class="form-control" type="text" name="username">

<label for="password">Password</label>
<input class="form-control" type="password" name="password">

<div style="display: none;">
<input type="text" name="avatar" value={{image}}>
</div>

<button type="submit" class="btn">Accept</button>

</form>
{{#if errorMessage}}
<p>{{this.errorMessage}}</p>
{{/if}}
</div>
</div>

