html{
    min-width: 100%;
    min-height: 100%;
}

html::-webkit-scrollbar {
    display: none;
}

body{
background-image: url(/images/background1dark.jpg);
background-repeat: no-repeat;
background-size: cover;
color: white;
min-width: 100%;
min-height: 100%;
}


a{
    color: white;
}
.navbar-brand img{
    width: 30px;
    margin-bottom: 2px;
}

.navbar{
    margin-top: -60px;
    width: 100%;
    position: fixed;
    background-color: rgb(245, 163, 49);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-bottom: 12px;
}
.navbar-nav .nav-link{
    color: white;
}
.navbar-collapse{
    background-color: rgba(245, 163, 49,0.55);
}

#navbarSupportedContent{
    margin: 0;
}

ul.navbar-nav.me-auto.mb-2.mb-lg-0.right{
    margin: 0!important;
    font-weight: 600;
}

ul.navbar-nav.me-auto.mb-2.mb-lg-0.left{
    margin: 0;
    margin-right:10%;
    font-weight: 600;
}

.btn{
    background-color: rgb(245, 163, 49);
    border: solid rgb(170, 113, 34) 1px;
}

.btn:hover{
    background-color: rgb(170, 113, 34);
    border: solid rgb(170, 113, 34) 1px;

}

.search-form{
    margin: 0 30px;
}

form.d-flex.searchForm{
    margin: 0 auto;
}

.nav-bar a{
    font-size: 1.3rem;
    color: white;
    padding: 12px 40px;
    text-decoration: none;
}

.navbar a:hover{
    color:  rgb(245, 163, 49);
    background-color: white;
}

.busqueda{
    display: flex;
    flex-direction: row;
}

.busqueda input{
width: 25rem;
}

main{
    margin-top: 60px;
}

.title{
    font-size: 3.5rem;
    font-weight: 600;
    padding: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.title2{
    font-size: 2.8rem;
    font-weight: 400;
    padding: 30px;
    display: flex;
    justify-content: center;
}

.book{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 290px;

}

.book p{
    font-size: 1.45rem;
    text-align: center;
    width: 275px;
}

.book img{
    border-top: solid rgb(170, 113, 34) 0.4rem;
    border-right: solid rgb(170, 113, 34) 0.4rem;
    border-bottom: solid rgb(245, 163, 49) 0.4rem;
    border-left: solid rgb(245, 163, 49) 0.4rem;
    height: 400px;
    width: 281px;
}
.book a{
    color: white;
}

.details{
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
}

.details img{
    border-top: solid rgb(170, 113, 34) 0.4rem;
    border-right: solid rgb(170, 113, 34) 0.4rem;
    border-bottom: solid rgb(245, 163, 49) 0.4rem;
    border-left: solid rgb(245, 163, 49) 0.4rem;
    height: 400px;
    width: 282px;
}

.details div{
    margin: 1rem 3rem;
}

.sinopsis{
    text-align: justify;
}

a {
    color: black;
    text-decoration: none;
}

.signup{
    padding-top: 20rem;
}

.signupDiv{
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 15px 10px 19px 10px rgba(0, 0, 0, 0.55); 
    box-shadow: 15px 10px 19px 10px rgba(20, 19, 18, 0.55);
    background: #00000091;
    border-radius: 1rem;
    width: 50%;
    margin: 0 auto;
}

.box{
    padding-top: 15%;

}
.boxDiv{
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 15px 10px 19px 10px rgba(0, 0, 0, 0.55); 
    box-shadow: 15px 10px 19px 10px rgba(20, 19, 18, 0.55);
    background: #00000091;
    border-radius: 1rem;
    width: 50%;
    margin: 0 auto;
}

.boxDiv h2{
    text-align: center;
}

.boxForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-align: center;
}

.boxForm input{
    margin: 0 auto;
    margin-top: 1%;
    width: 5rem;
    min-width: 70%;
    text-align: center;
}

.boxForm button{
    margin-top: 1rem;
}

.boxForm div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    width: 15rem;  
}

.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
}

.contenedorProf{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

.contenedorProf img{
max-width: 240px;
max-height: 240px;
}

.editProf{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 38%;
}

.detalles{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.authors{
    align-self: center;
    width: 15rem;
}

.buy a{
    text-decoration: none;
    color: white;
}

.authors ul{
    margin: 0;
}
.botones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.botones button{
    margin: 0.3rem 0;
    width: 16rem;
    font-size: 1rem;
    font-weight: bold;
}

.phrase{
    text-align: center;
}

.columnasProf{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: center;
    flex-wrap: wrap;
}

.columnasProf h2{
    margin-top: 3rem;
    padding: 0 0.8rem;
    border-bottom: solid rgb(245, 163, 49) 0.4rem;
}
.columnasProf div{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 295px;
}
.booksProf{
    max-height: 480px;
    margin-top: 40px;
    overflow-y: auto;
}

.booksProf::-webkit-scrollbar {
    display: none;
}
.columnasProf img{
    border-top: solid rgb(170, 113, 34) 0.4rem;
    border-right: solid rgb(170, 113, 34) 0.4rem;
    border-bottom: solid rgb(245, 163, 49) 0.4rem;
    border-left: solid rgb(245, 163, 49) 0.4rem;
    height: 400px;
    width: 280px;
}

.removeBook{
    align-self: flex-end;
}

.pageSelector{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 3rem auto;
    width: 80%;
}
@media all and (max-width: 1350px)
{
    .homeBox{
        padding-top: 2rem;
    }
    .homeDiv{
    -webkit-box-shadow: 15px 10px 19px 10px rgba(245,163,49,0.55); 
    box-shadow: 15px 10px 19px 10px rgba(245,163,49,0.55);
    background: #f5a33160;
    border-radius: 1rem;
    width: 70%;
    margin: 0 auto;
    align-self: center;
    height: 30rem;
    color: black;
    overflow-y: auto;
    }
    
    .homeDiv::-webkit-scrollbar {
        display: none;
    }
    .homeDiv h1{
    padding-top: 2rem;
    text-align: center;
    }
    
    .homeDiv p{
        font-weight: 500;
        margin: 2rem 10%;
    }
    
    .homeDiv ul{
        font-weight: 500;
        margin: 2rem 10%;
    }
}

.homeBody{
    width: 100vw;
    height:93.5vh;
    background-image: url(https://i.giphy.com/media/yidUzANREfLN5jczXW/giphy.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    align-content: center;
}
@media all and (min-width: 1351px){
.homeBox{
    padding-top: 10rem;
}
.homeDiv{
-webkit-box-shadow: 15px 10px 19px 10px rgba(245,163,49,0.55); 
box-shadow: 15px 10px 19px 10px rgba(245,163,49,0.55);
background: #f5a33160;
border-radius: 1rem;
width: 50%;
margin: 0 auto;
align-self: center;
height: 25rem;
max-height: 25rem;
color: black;
}

.homeDiv h1{
padding-top: 3rem;
text-align: center;
}

.homeDiv p{
    font-weight: 500;
    margin: 2rem 10%;
}

.homeDiv ul{
    font-weight: 500;
    margin: 2rem 10%;
}
}
.acordeon:after {
    content: '\1F53A'; /* Unicode character for "arrow up" sign */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
.activo:after {
    content: "\1F53B"; /* Unicode character for "arrow up" sign */
  }

.acordeon{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: solid 0rem black;
}

.carta{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
    -webkit-box-shadow: 15px 10px 19px 10px rgba(0, 0, 0, 0.55); 
    box-shadow: 15px 10px 19px 10px rgba(20, 19, 18, 0.55);
    background: #000000b4;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem 0;
}

.carta img{
    width: 10rem;
    height: 10rem;
}

.carta a{
    text-decoration: none;
    color: red;
}

.userList{
    margin-top: 1rem;
    width: 34.5%;
}